---
layout: default
title: Erik Zaadi @ GitHub -> Home
link: /
---

<div class="span-17 last">
	<div class="span-17 last">
		<h2>Project Pages :</h2>
		<dl>
		{% for project in site.projects %}
			{% if project.active == false %}
			<!--
			{% endif %}
			<dt><h3><a href="{{ project.link }}" alt="{{ project.name }}">{{ project.name }}</a></h3></dt>
			<dd>{{ project.description }}</dd>
			{% if project.active == false %}
			-->
			{% endif %}
			
		{% endfor %}
		</dl>
	</div>
	<div class="span-17 last">
		{% for post in site.posts limit:5 %}
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			{{ post.content }}
						<em>Posted on {{ post.date | date_to_long_string }}.</em>
		{% endfor %}
			<hr/>
			<a href="/posts.html" alt="All Posts">All posts</a>
	</div>
</div>