---
layout: default
title: Erik Zaadi @ GitHub -> Home
areaname: Home
arealink: /
link: /
---

<div class="span-17 last">
	<div class="span-17 last">
		<h2>Project Pages :</h2>
		<dl>
		{% for project in site.projects %}
			<dt><h3><a href="{{ project.link }}" alt="{{ project.name }}">{{ project.name }}</a></h3></dt>
			<dd>{{ project.description }}</dd>		
		{% endfor %}
		</dl>
	</div>
	<div class="span-17 last">
		<h2>Posts</h2>
		{% for post in site.posts limit:5 %}
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			{{ post.content }}
			<em>Posted on {{ post.date | date_to_long_string }}.</em>
		{% endfor %}
			<hr/>
			<a href="/posts.html" alt="All Posts">More posts ( {{ site.posts.quantity  }})</a>
	</div>
</div>