<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Erik Zaadi" />
   <link href="http://feeds2.feedburner.com/Znag" rel="alternate" title="Erik Zaadi" type="application/atom+xml" />
  
   <!-- Need to add CSS -->  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://erikzaadi.github.com/chili/jquery.chili-2.2.js"></script>
	<script type="text/javascript">
	ChiliBook.recipeFolder = "http://erikzaadi.github.com/chili/"; 
	</script>
</head>
<body>
 
<div class="site">
  <div class="title">
    <a href="/">Erik Zaadi @ GitHub</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <!-- Need to add Footer -->
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8728177-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>